<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean"
          class="ru.junjavadev.springcourse.RockMusic">
    </bean>

    <bean id="musicList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <bean id="rockMusic"
                      class="ru.junjavadev.springcourse.RockMusic"
                      init-method="doMyInit"
                      destroy-method="doMyDestroy">
                </bean>
                <bean id="classicalMusic"
                      class="ru.junjavadev.springcourse.ClassicalMusic"
                      init-method="doMyInit"
                      destroy-method="doMyDestroy"
                      factory-method="getClassicalMusic">
                </bean>
                <bean id="popMusic"
                      class="ru.junjavadev.springcourse.PopMusic"
                      init-method="doMyInit"
                      destroy-method="doMyDestroy">
                </bean>
            </list>
        </constructor-arg>
    </bean>

    <bean id="musicPlayer"
          class="ru.junjavadev.springcourse.MusicPlayer"
          scope="prototype"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
    >
        <property name="musicList" ref="musicList"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>
</beans>